body{
    background-color: skyblue;
}

h1{
    text-align: center;
    color: blue;
}

h3{
    text-align: center;
    color: black;
}

table, th, td, tr{
    border: 2px solid;
}

table{
    width: 50%;
}

th,td{
    padding: 10px;
    text-align: center;
}

list{
    color: mediumvioletred;
    
    
}
