.name{
    font-family: fantasy;
    text-decoration-style: wavy;
    font-weight: bolder;
    font-size: 40px;
    color: black
}

.banner{
    height: 100vh;
    width: 100%;
    background:url(./imges/img1.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Helvetica;
}

.banner .navbar{
    margin-top: 0px;
    padding: 10px;
}
.banner .navbar-brand{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 2%;
}
.banner .nav{
    margin-right: 5%;
}
.banner .nav li a{
    color: wheat;
    font-size: 1.2em;
}
.banner .info{
    margin-top: 10%;
    transform: translateY(-15%);
}

.banner .info h1{
    font-size: 3em;
    font-weight: 600;
    color: whitesmoke;
    letter-spacing: 2px;
}
.banner .info p{
    font-size: 2em;
    font-weight: 600;
    color: wheat;
    letter-spacing: 2px;
}
.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);

    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
}
